.characterCard {
    //border: 5px solid rosybrown;
    width: 300px;

    &__description {
        background-color: var(--rickMortyBlue);
        color: white;
        //height: 40px;
        padding: 10px;

        &__name {
            font-weight: bold;
        }
    }
}